APP_IMAGE=ghcr.io/cledson96/back-end-test:latest
APP_PORT=8080
NODE_ENV=production
HOST=0.0.0.0
PORT=8080
DATABASE_URL=file:/data/prod.db
CORS_ORIGIN=https://sqrt.cledson.com.br
COMMON_RATE_LIMIT_WINDOW_MS=1000
COMMON_RATE_LIMIT_MAX_REQUESTS=100
